name: CI

on: 
  push:
    branches:    
      - '**'    # matches every branch
      - '!main' # excludes main
  workflow_dispatch:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    container: swift:5.10
    steps:
      - uses: actions/checkout@v4
      - name: Run TESTS
        run: swift test