name: CI

on: [ workflow_dispatch, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: swift:5.10
    steps:
      - uses: actions/checkout@v4
      - name: Run TESTS
        run: swift test
  test_future:
    runs-on: ubuntu-latest
    container: swiftlang/swift:nightly-6.0-jammy
    steps:
      - uses: actions/checkout@v4
      - name: Run TESTS on Swift 6
        run: swift test --use-integrated-swift-driver