name: CI

on: [ workflow_dispatch, pull_request ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: swift:6.0
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved', '*/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-
      - name: Run TESTS
        run: swift test --use-integrated-swift-driver